<div>
 <h1 style="text-align: center;">Welcome to Booking for Flight,Hotel&Car!</h1>
</div>

<div class="container" style="text-align: center;">
    <div class="col-md-4 d-inline-block">
      <img src="../../../assets/images/flights.png" [routerLink]="['/airlines']" [routerLinkActive]="['is-active']" class="img-circle" alt="Cinque Terre" width="304" height="236">
      <h2 style="text-align: center;">Flights</h2>
    </div>
    <div class="col-md-4 d-inline-block">
      <img src="../../../assets/images/hotels.png" [routerLink]="['/hotels']" class="img-circle" alt="Cinque Terre" width="304" height="236">
      <h2 style="text-align: center;">Hotels</h2>
    </div>
    <div class="col-md-4 d-inline-block">
      <img src="../../../assets/images/cars.png" [routerLink]="['/dashboard']" class="img-circle" alt="Cinque Terre" width="304" height="236">
      <h2 style="text-align: center;">Cars</h2>
    </div>
</div>
