
<div class="container" style="text-align: center">

  <canvas id="c"></canvas>

<!--

  <ng-container *ngIf="show">
  <li *ngFor="let in of counter(airline.airlineConfiguration.arange); let z = index" style="margin-right: 50px; margin-top: 20px; display: inline-block; border: solid; border-color: darkslategrey">
    <ol *ngFor="let m of counter(airline.airlineConfiguration.rowsA); let i = index" style="display: inline-block;border: solid; border-color: #3399ff ">
        {{i+1}}
      <li *ngFor="let f of counter(airline.airlineConfiguration.columnsA); let j = index">
        <input type="checkbox" id=f />
        <label for="f">{{j}}</label>

        <br>
        <br>
</li>
</ol>
    <br>
    <br>
    <br>
  </li>
  </ng-container>
-->

</div>

