<div class="container-fluid">
  <div class="container-fluid m-2">
    <label><p class="font-weight-bold"><i>Sortiraj po nazivu:</i></p></label>
    <button class="btn btn-success m-1" (click)="sortHotelsAsc('name')"><i class="fas fa-angle-down"></i></button>
    <button class="btn btn-danger m-1" (click)="sortHotelsDesc('name')"><i class="fas fa-angle-up"></i></button>

  </div>

<div class="container-fluid">
  <form [formGroup]="form">
    <div class="form-row">
      <div class="col">
        <input name="search" [formControl]="search" type="text" class="form-control"
               placeholder="Unesite naziv ili lokaciju hotela" id="input-search" >
      </div>
     <!--
       <div class="col">
        <input type="date" class="form-control" [formControl]="checkInDate" name="checkInDate" id="input-checkIn"
               placeholder="Unesite datum dolaska">
      </div>
      <div class="col">
        <input type="date" class="form-control" [formControl]="checkOutDate" name="checkOutDate"
               placeholder="Unesite datum odlaska">
      </div>
     -->
      <div >
        <button class="btn btn-success" (click)="serachHotels()"><i class="fa fa-search"></i></button>
        <button class="btn btn-danger" (click)="refresh()" style="margin-left: 0.5em"><i class="fas fa-backspace"></i></button>
      </div>

    </div>

  </form>
</div>


<div class="container">
    <button type="button" [routerLink]="['/addHotel']" [routerLinkActive]="['is-active']" class="btn btn-primary btn-lg btn-block cardBtn">Add Hotel</button>
    <div *ngFor="let hotel of hotels | sorting:orderBy:asc | serach:searchText " class="row hotelCard" >
                <div class="col-md-3 cardInline">
                        <img  width="220px" hight="170:" src="../../../assets/images/hotelIcon.png" alt="theatre {{hotel.name}}">
                </div>
                <div class="col-md-6 cardInline">
                    <h4 class="list-group-item-heading"> {{hotel.name}} </h4>
                    <p class="list-group-item-text">"<i>{{hotel.desc}}"</i> </p>
                </div>
                <div class="col-md-3 text-center cardInline">
                    <button type="button" [routerLink]="['/hotels/',hotel.id]" class="btn btn-primary btn-lg btn-block cardBtn">Details</button>
                    <p><i class="fas fa-star"></i> Average 4.1 <small> / </small> 5 </p>
                    <p><i class="fas fa-location-arrow"></i> {{hotel.address}} , {{hotel.city}} , {{hotel.country}}</p>
                </div>
    </div>

</div>
