<div class="jumbotron" style="background-color: white; text-align: center; width: 60%; margin-top: 25px;margin-left: 20%; border-color: lightslategray;  height: auto;">
  <div style="text-align: center">
  <label style="font-size: 35px; font-weight: bolder">{{airline.name}} Usluge </label>
  <button class="btn btn-primary" (click)="addService(id)">Dodaj uslugu</button>
  <table id="cssTable" style=" margin-top: 35px; margin-left: 65px; width: auto; border: darkslategrey;" class="table table-dark tableRoom">
    <thead>
    <tr style="text-align: center">

      <th scope="col"></th>
      <th scope="col">Naziv usluge</th>
      <th scope="col">Cena usluge</th>
      <th scope="col"></th>
    </tr>

    </thead>

    <tbody style="text-align: center; vertical-align: middle">

    <tr *ngFor="let service of services" style="text-align: center"[attr.id]="service.id">

      <td></td>
      <td>{{service.name}}</td>
      <td>{{service.price}}EUR

      <td>
        <button  (click)="editService(service.id)"><i class="fa fa-edit"></i></button>
        <button (click)="deleteService(service.id)"><i class="fa fa-trash"></i></button>
      </td>
    </tr>

    </tbody>


  </table>
  </div>
  <button class="btn btn-danger" style="border-color: gray" (click)="back()">Nazad</button>
</div>


