<div [style.display]="rezervacijaTraje ? 'block' : 'none'" style="background-image:url('../../../assets/images/room.jpg');">

  <div class="row rounded container-fluid" style="margin-bottom: 4em; margin-top: 1em">
      <div class="container-fluid formGroup col" >
          <label>

          </label>
          <hr/>
         <form [formGroup]= "form" >
              <div class="form-row">
                    <div class="col">
                      <input type="date" class="form-control" [formControl]="checkInDate" name="checkInDate" id="input-checkIn"
                              placeholder="Unesite datum dolaska">
                      <small class="form-text error" *ngIf="checkInDate.errors?.required && checkInDate.touched" style="color: red">
                        Ovo polje je obavezno za unos!
                      </small>
                    </div>
                    <div class="col">
                      <input type="date" class="form-control" [formControl]="checkOutDate" name="checkOutDate" id="input-checkOut"
                              placeholder="Unesite datum odlaska">
                      <small class="form-text error" *ngIf="checkOutDate.errors?.required && checkOutDate.touched" style="color: red">
                        Ovo polje je obavezno za unos!
                      </small>
                    </div>
                    <div class="col">
                        <button style="background-image:url('../../../assets/images/btn.gif');" class="btn btn-dark" (click)="serachDiscountRooms()">Sobe na popustu</button>
                       <!-- <button class="btn btn-success" (click)="serachRooms()" [disabled]="!form.valid"><i class="fa fa-search"></i></button>-->
                        <button class="btn btn-danger" (click)="refresh()" style="margin-left: 0.5em"><i class="fa fa-backspace"></i></button>
                  </div>

              </div>
         </form>
      </div>
      <p>
      </p>

  </div>


  <div class="container-fluid" id="sobeTabela" [style.display]="isSobeVisible ? 'block' : 'none'" style="background-image:url('../../../assets/images/room.jpg');">
  <table class="table table-dark tableRoom" *ngIf="rooms">
    <thead>
    <tr class="textRoom">
      <th>Tip</th>
      <th>Kapacitet</th>
      <th>Sprat</th>
      <th>Balkon</th>
      <th>Originalna cena</th>
      <th>Cena sa popustom za noc</th>
      <th>Cena vazi od</th>
      <th>Cena vazi do</th>

    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of rooms">
        <td>{{r.roomType}}</td>
        <td>{{r.capacity}}</td>
        <td>{{r.floor}}</td>
        <td>{{r.balkon}}</td>
        <td>{{r.originalPrice | currency: 'EUR'}}</td>
        <td>{{r.costPerNight | currency: 'EUR'}}</td>
        <td>{{r.costValidFrom | date: 'dd/MM/yyyy'}} </td>
        <td>{{r.costValidUntil | date: 'dd/MM/yyyy'}}</td>
       <!-- <td><input type="button"  (click)="prikaziUsluge(r.id)" value="Usluge"></td>-->
        <td>
          <input type="button" style="background-color:green;" (click)="rezervisiSobu(r)" value="Rezervisi">
        </td>
      </tr>
    </tbody>

  </table>
</div>

  <div class="container-fluid" id="uslugeTabela" [style.display]="isUslugeVisible ? 'block' : 'none'">
    <label style="margin-top: 1em; margin-bottom: 1em;"></label>
    <table class="table table-bordered" *ngIf="items">
      <thead>
      <tr>
        <th>Naziv</th>
        <th>Cena po danu</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.name}}</td>
        <td>{{item.cost | currency: 'EUR'}}</td>

      </tr>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>

<div class="container-fluid rounded" id="totalCost" style="border: dimgray; margin-top: 2em">
  <hr/>
  <div class="textPrice">
    <label>Let:&nbsp;&nbsp;&nbsp;&nbsp;{{totalFlightCost | currency: 'EUR'}}</label><br>
    <label>Smestaj:&nbsp;&nbsp;&nbsp;&nbsp;{{totalRoomCost | currency: 'EUR'}}</label><br>
    <hr style="color: dimgrey">
  </div>
  <div>
    <label><b class="textPrice">UKUPNO:</b><p  class="textRoom" style="color: red;"><b>{{totalCost | currency: 'EUR'}}</b></p></label>

  </div>
</div>

</div>

<div style="background-image:url('../../../assets/images/fireworks.gif');text-align: center; margin: 2em,2em,2em,2m; font-style: italic"  [style.display]="rezervacijaGotova ? 'block' : 'none'">
<p style="color:white;">
  Uspesno ste izvrsili brzu rezervaciju smestaja!
</p>
<p>
  <button class="btn btn-danger" (click) = "index()">Vrati se na pocetak</button>
</p>
</div>
