
<div class="jumbotron" style="width: 70%; text-align: center ; margin-top: 25px; border-color: lightslategray;  height: auto; border-radius: 25px; border-style: solid;">

  <h1 style="margin-bottom: 45px;">{{airline.name}}</h1>

  <div *ngFor="let destination of destinations">
    <label style="font-size: 18px; font-weight: bolder">{{destination.name}}</label> -
    <label style="font-size: 18px; font-weight: bolder">{{destination.city}}(</label>
    <label style="font-size: 18px; font-weight: bolder">{{destination.state}})</label>

    <button class="btn btn-primary" (click)="editDest(destination.id)">Izmeni</button>
    <button class="btn btn-primary" (click)="obrisi(destination.id)">Obrisi</button>
  </div>

  <button class="btn btn-primary" (click)="addDest()">Dodaj</button>
  <button class="btn btn-primary" (click)="back()">Nazad</button>


</div>
